<div class="container" id="install-content">
  <div class="col-9 mb-3" id="step-text">
    <h2 class="mb-3" id="step-title">Set your database</h2>
    <div class="mb-3">
      <label for="databaseType" class="form-label">Database Type</label>
      <select class="form-select" id="databaseType" aria-label="Select your database type">
        <option value="sqlite3" selected>Sqlite 3</option>
        <option value="mysql">Mysql</option>
      </select>
    </div>
    {% include 'install/sqlite3.html' %}
  </div>
  <button type="button" class="btn btn-primary" id="step-button" name="step" value="2">Next step &raquo;</button>
</div>
<script>
document.getElementById('databaseType').addEventListener('change', refresh_db_config_form);
function refresh_db_config_form() {
  var db_type = document.getElementById('databaseType').value;
  $.ajax({
    url: '/install',
    type: 'post',
    contentType: 'application/json',
    data: JSON.stringify({
      request_type: 'refresh_db_config_form',
      db_type: db_type
    }),
    success: function(response){
      if (response.status) {
        $('#db-config').replaceWith(response.html)
      }
    }
  })
}
</script>